@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
body {
  background-color: black;
}

.container {
  width: 375px;
  height: 375px;
  border-radius: 15px;
  color: hsl(217, 12%, 63%);
  margin-inline: auto;
  margin-top: 10rem;
  padding: 2rem 1.3rem;
  background-color: hsl(216, 12%, 8%);
}
.rating-modal {
  width: 100%;
  height: 100%;
}
.rating-modal .logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0rem 0.9rem;
  border-radius: 50%;
  background-color: hsl(212, 20%, 13%);
  margin: 0rem 0rem 1rem 0rem;
}
.rating-modal .info {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
}
.rating-modal .info .title {
  font-size: 24px;
  color: white;
  margin-bottom: 0.5rem;
}
.rating-modal .info .subtext {
  width: 100%;
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.r-btn {
  user-select: none;
  border: 0;
}
.btns {
  width: 100%;
  display: flex;
  margin: 1rem 0rem 0rem 0rem;
}
.r-btn {
  margin-right: 0.8rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(212, 20%, 13%);
  text-align: center;
  padding: 0.8rem;
  color: gray;
  cursor: pointer;
}
.r-btn:hover {
  background-color: white;
}
.r-btn:focus {
  background-color: hsl(25, 97%, 53%);
}
.btn {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 1rem;
  color: white;
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
  letter-spacing: 4px;
}
.thankyou-modal {
  width: 100%;
  height: 100%;
  display: none;
}
.thankyou-modal .thanks-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}
.thanks-logo img {
  height: 100px;
}
.rating-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  border-radius: 25px;
  font-size: 15px;
  margin: 1rem 0rem;
  margin-inline: auto;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
}
.thankyou-msg {
  text-align: center;
  font-size: 24px;
  color: white;
  margin: 0.5rem 0rem;
}
.thanksSubtext {
  text-align: center;
  font-size: 15px;
  margin: 1rem auto;
}
.rating-stat {
  margin: 1rem auto;
}
.rating-socre {
  margin: 0rem 0.2rem;
}
@media (max-width: 400px) {
  .container {
    width: 90%;
  }
}
